@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Overpass:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-family: 'Overpass', sans-serif;
}

.parrafo-navbar {
  background-color: pink;
  margin: 0;
  
}


.carritoIcon {
  display: inline;
}

.containerNav {
  background-color: rgb(78, 78, 78);
  display: flex;
  justify-content: center
}

.topnav {
  margin: 1em;
  display: flex;
}

.topnav a {
  background-color: aqua;
  margin: 0 1em;
}

.nav-link {
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
}

.nav-link a {
  text-decoration: none;
  color: black;
}

.nav-link a:hover {
  color:rgb(38, 156, 83);
}

.navbar-brand {
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.navbar-brand a {
  text-decoration: none;
  color: black;
}

/* ##########--BOTONES--########## */
button {
  border-style: none;
  background-color:transparent;
}

.btn-3 {
  background: rgb(255, 187, 0);
  background: linear-gradient(0deg, rgba(255, 187, 0) 0%, rgb(255, 185, 33) 100%);
  width: 100px;
  height: 35px;
  line-height: 14px;
  padding: 5px;
  border-radius: 10px;
  transition-duration: 0.9s;
  margin: 0px 2px;
}

.btn-3:hover{
  background:rgb(38, 156, 83);
  color: white;
}

.btn-4 {
  background: rgb(112, 222, 255);
  background: linear-gradient(0deg, rgba(112, 222, 255) 0%, rgb(185, 218, 255) 100%);
  width: 100px;
  height: 35px;
  line-height: 14px;
  padding: 5px;
  border-radius: 10px;
  transition-duration: 0.9s;
  margin: 0px 2px;
}

.btn-4:hover{
  background:rgb(186, 102, 255);
  color: white;
}
/* ##########--BOTONES fin--########## */



/* ##########--ITEM DETAIL --########## */

.item_detail {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  width: 970px;
  height: 570px;
}

.details_detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 476px;
  height: 300px;
}

.details_detail h5 {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 32px;
  padding-top: 0px;
}

.details_detail p {
  font-size: 1.1em;
  width: 100%;
  height: 133px;
}

.btn_detail {
  background: linear-gradient(0deg, rgba(255, 187, 0) 0%, rgb(255, 185, 33) 100%);
  font-size: 18px;
  height: 38px;
  line-height: 20px;
  padding: 5px;
  border-radius: 10px;
  transition-duration: 0.3s;
}

.btn_detail:hover{
  box-shadow: 0px 0px 7px 0px rgba(115,115,115,0.75);
-webkit-box-shadow: 0px 0px 7px 0px rgba(115,115,115,0.75);
-moz-box-shadow: 0px 0px 7px 0px rgba(115,115,115,0.75);
}

.btn_detail_disabled {
  background: linear-gradient(0deg, rgb(201, 201, 201) 0%,rgb(248, 248, 248)) 100%;
  font-size: 18px;
  height: 38px;
  line-height: 20px;
  padding: 5px;
  border-radius: 10px;
  transition-duration: 0.3s;
}